$bg: #252525;
$blue: #1f497d;
$red: #e10712;
$green: #40d250;
$book_green: #e0e5c2;
$STR: #e06666;
$DEX: #8cbe73;
$CON: #bb9658;
$INT: #78acde;
$WIS: #f6b26b;
$CHA: #cb74d2;
$nav_bg: #0e0e0e;
$nav_highlight: #333333;